<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineExam.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OnlineExam.Tests.Properties.Settings>
            <setting name="ADMIN_EMAIL" serializeAs="String">
                <value>admin@gmail.com</value>
            </setting>
            <setting name="ADMIN_PASSWORD" serializeAs="String">
                <value>Admin_123</value>
            </setting>
            <setting name="HOME_URL" serializeAs="String">
                <value>http://localhost:55842</value>
            </setting>
            <setting name="TEACHER_EMAIL" serializeAs="String">
                <value>teacher@gmail.com</value>
            </setting>
            <setting name="TEACHER_PASSWORD" serializeAs="String">
                <value>Teacher_123</value>
            </setting>
            <setting name="STUDENT_EMAIL" serializeAs="String">
                <value>student@gmail.com</value>
            </setting>
            <setting name="STUDENT_PASSWORD" serializeAs="String">
                <value>Student_123</value>
            </setting>
        </OnlineExam.Tests.Properties.Settings>
    </userSettings>
</configuration>